

<p class="title is-1 has-text-centered">About Us
        <span class="icon">
                <i class="fa fa-user"></i>
        </span>
 </p>


 <section class="section">       
          <h2 class="subtitle">
Autopex International is an exporter and manufacturer of auto-parts. We are based in Delhi, India. Autopex is a family-owned business and has been passed along for multiple generations. Our manufacturing plants are in India. The products exported are 100% genuine as we care deeply about our customer satisfaction. We endeavour to become a pioneer in the automotive parts industry   
</h2>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box has-background-white-ter">

      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse text-white"></i>
      </span>      
      <h4 class="service-heading has-text-weight-bold">Сollaboration</h4>
      <p class="text-muted">Our distributors, customers and staff are interdependent partners.</p>
    
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box has-background-white-ter">
      
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading has-text-weight-bold">Innovation</h4>
      <p class="text-muted">We aim to introduce new solutions to provide customers with the finest experience.</p>
    
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box has-background-white-ter">
      
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading has-text-weight-bold">High quality</h4>
      <p class="text-muted">Our constant attention to the smallest details makes our products genuine.</p>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box has-background-white-ter">
      
      <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading has-text-weight-bold">Accountability</h4>
      <p class="text-muted">The accountability of everyone is a prerequisite for our sustainable setting.</p>
    </article>
  </div>
</div>


<br>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Years been serving</p>
      <p class="title">35</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Customers</p>
      <p class="title">214</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Countries shipped</p>
      <p class="title">29</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">No. of Employees</p>
      <p class="title">300+</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Customer Satisfaction</p>
      <p class="title">100%</p>
    </div>
  </div>
</nav>

</section>
<br>
<br>
<a href="#top">
  <div style="text-align: right;">  
        <button class="button is-link is-light">Top</button>
    </div>
</a>