
<section class="section">

  <div class="container has-text-centered">
    <div class="columns is-8 is-variable ">
      <div class="column is-two-thirds has-text-left">
        <h1 class="title is-1">Contact Us 
        <span class="icon">
          <i class="fa fa-phone"></i>
      </span>
    </h1>
        <p class="title is-3">Adresss
          <span class="icon">
          <i class="fa fa-map-marker"></i>
          </span></p>
          <p class="subtitle is-5"> 468, Dev Motor Market, Kashmere Gate, New Delhi, 110006</p><br>
          
          
          <p class="title is-3">Phone/Fax
          <span class="icon">
          <i class="fa fa-phone"></i>
          </span></p>
          <p class="subtitle is-5">
                  +91 11 23965153<br>Fax: 	91-11-27188162</p><br>
          
          
          <p class="title is-3">Email ID
          <span class="icon">
          <i class="fa fa-envelope"></i>
          </span></p>
          <p class="subtitle is-5">autopexbusiness@gmail.com or click <a href="mailto:autopexinternational@yahoomail.co.in">HERE</a></p>          
          </div>


      <div class="column is-one-third has-text-left">

              <p class="subtitle is-6">Do you have any questions? Please do not hesitate to contact us directly.</p>
  
                <div class="row">
  
                  <div class="col-md-8 col-xl-9">
                      <form id ="contact-form" name="contact-form" action=https://formspree.io/autopexbusiness@gmail.com method="POST">
  
                          
                        <div class="field">
                          <label class="label">Name</label>
                            <div class="md-form">
                              <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        
                        <div class="field">
                          <label class="label">Phone number</label>
                            <div class="md-form">
                              <input type="text" id="phone number" name="phone number" class="form-control">
                            </div>
                        </div>

                        <div class="field">
                          <label class="label">Subject</label>
                            <div class="md-form">
                              <input type="text" id="subject" name="subject" class="form-control">
                            </div>
                        </div>

                        <div class="field">
                          <label class="label">Email</label>
                            <div class="md-form">
                              <input type="text" id="email" name="email" class="form-control">
                            </div>
                        </div>

                        <div class="field">
                          <label class="label">Message</label>
                            <div class="md-form">
                              <textarea type="text" id="message" name="message" class="md-textarea"></textarea>
                            </div>
                        </div>
                          
                      </form> 
                  
                    
                      <div class="center-on-small-only">
                          <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                      </div>
                  </div>
                 </div>
        </div>
      </section>
 
      <a href="https://goo.gl/maps/sacN9e7kgQiKKfTE9">
        <figure class="image is-text-centered">
        <figure class="image container is-256x256">
                <img alt="map" src="/images/maps.png">
         </figure> 
        </figure>
  
    
      <br>
      <br>
      <br>
      <br>
      <a href="#top">
        <div style="text-align: right;">
              <button class="button is-link is-light">Top</button>
          </div>
      </a>      
  
      
  
     
  