<br>

<p class="title is-1 has-text-centered">Home
        <span class="icon">
                <i class="fa fa-home"></i>
        </span>
 </p>

<section class="section">
       
          <h2 class="subtitle">
                Autopex International is an exporter and manufacturer of auto-parts. Our manufacturing plants are in India. The products exported are 100% genuine as we care deeply about our customer satisfaction. We endeavour to become a pioneer in the automotive parts industry.
                <br>
                 We are a family-owned business. We manufacture auto motive parts and export it worldwide.
          </h2>
        
      </section>

<a href="/products">
        <div class="carousel">
           
            <input id="image1" type="radio" name="image-selector" checked="checked" />
            <label for="image9">gasket</label>    
            <img src="/images/gasket1.jpg" />
        
            <input id="image2" type="radio" name="image-selector" />
            <label for="image1"> Gasket </label>
            <img src="/images/gasket2.jpg" />
          
            <input id="image3" type="radio" name="image-selector" />
            <label for="image2"> Gasket </label>
            <img src="/images/gasket3.jpg" />

            <input id="image4" type="radio" name="image-selector" />
            <label for="image3"> Gasket Ring </label>            
            <img src="/images/gasket ring.jpg" />
                        
            <input id="image5" type="radio" name="image-selector" />
            <label for="image4"> A. C. Pin  </label>            
            <img src="/images/ac pin.jpg" />                                 
        
            <input id="image6" type="radio" name="image-selector" />
            <label for="image5"> A. C. Pin  </label>            
            <img src= "/images/ac pin 2.jpg" />                                 
        
            <input id="image7" type="radio" name="image-selector" />
            <label for="image6"> A. C. Pin Kit </label>            
            <img src="/images/ac pin kit.jpg" />                       
        
            <input id="image8" type="radio" name="image-selector" />
            <label for="image7"> B. S. Spring </label>            
            <img src="/images/bs spring.jpg" />
                             
            <input id="image9" type="radio" name="image-selector" />
            <label for="image8"> Screw pin </label>
            <img src="/images/unnamed.jpg" />
                  
            <label for="image9"> unnamed </label>
            <label for="image1"> unnamed </label>
          </div>
        </a>
        <p align="center">Hover on the image to go to next / previous images.</p>

<a href="https://goo.gl/maps/sacN9e7kgQiKKfTE9">
        <figure class="image is-text-centered">
        <figure class="image container is-150x150">
                <img alt="map" src="/images/maps.png" width="720" height="240">
         </figure> 
        </figure>
</a>
<br>
<a href="#top">
<div style="text-align: right;">
        <button class="button is-link is-light">Top</button>
    </div>
</a>
