<p class="title is-1">B. S. Spring
</p>
<br>
<div class="columns">
  <div class="column">
  <article class="media">
    <div class="media-right">
    <figure class="images">
        <img src="/images/bs spring.jpg" width="556px" height="556px">>
      </figure>
    </div>
    </article>
    </div>
    <div class="column is-half has-text-left">
    
<p class="subtitle is-4">
  BS Spring Industries, are one of the leading organizations, immersed in manufacturing and supplying a comprehensive range of Shocker Spring, Metal Spring, Torsion Springs and Compression Spring. High strength, excellent finish, lightweight, easy installation and durability are some of the features of our offered range of springs. 



</p>


<table width="200" border="3.5" align="center" cellpadding="2" bordercolor="#000000">
  <tr>
    <td width="120">
      <h3 class="subtitle is-3">Name</h3>
    </td>
    <td width="110">
      <h3 class="subtitle is-3">Price</h3>
    </td>
  </tr>
  <h4 class="subtitle is-4">
  <tr>
              <tr>
              <td>V-57-1860</td>
              <td>$0.25</td>
            </tr>
            <tr>
              <td>NPR-1860</td>
              <td>$0.26</td>
            </tr>
            <tr>
              <td>V-99-1860</td>
              <td>$0.96</td>
            </tr>
            <tr>
              <td>NHR-1860</td>
              <td>$0.77</td>
            </tr>
            <tr>
              <td>   1</td>
              <td>$0.35</td>
            </tr>
            <tr>
              <td>   2</td>
              <td>$0.95</td>
            </tr>
            <tr>
              <td>   3</td>
              <td>$0.78</td>
            </tr>
            <tr>
              <td>   4</td>
              <td>$0.46</td>
            </tr>

</h4>
</table>
<br>
</div>
</div>

<br>
<a href="#top">
  <div style="text-align: right;">  
        <button class="button is-link is-light">Top</button>
    </div>
</a>
<a href="/products">
  <div style="text-align: right;">  
  <button class="button is-link is-light">Back</button>
</div>
</a>