<p class="title is-1 has-text-centered">Products
  <span class="icon">
          <i class="fa fa-book"></i>
  </span>
</p>
<section class="section">
 
  <nav class="level">

    <p class="level-item has-text-centered">
    <figure class="image is-128x128">
      <a href="/pl1">
        <img src="/images/gasket2.jpg">
        <h5 class="subtitle is-6">Carburetor Gasket</h6>
      </a>  
    </figure>
  <p class="level-item has-text-centered">
  <figure class="image is-32x32">
  </figure>
  </p>
    <p class="level-item has-text-centered">
    <figure class="image is-128x128">
      <a href="/pl2">
        <img src="/images/bs spring.jpg">
        <h6 class="subtitle is-6">B. S. Spring</h6>
      </a>
    </figure>
    </p>
    <p class="level-item has-text-centered">
  <figure class="image is-32x32">
  </figure>
  </p>
    <p class="level-item has-text-centered">
    <figure class="image is-128x128">
      <a href="/pl3">
    <img src="/images/ac pin.jpg">
    <h6 class="subtitle is-6">A. C. Pin</h6>
      </a>
  </figure>  
  </p>
  <p class="level-item has-text-centered">
  <figure class="image is-32x32">
  </figure>
  </p>
    <p class="level-item has-text-centered">
    <figure class="image is-128x128">
      <a href="/pl4">
    <img src="/images/ac pin kit.jpg">
    <h6 class="subtitle is-6">A. C. Pin Kit</h6>
      </a>
  </figure>  
  </p>
  <p class="level-item has-text-centered">
  <figure class="image is-32x32">
  </figure>
  </p>
    <p class="level-item has-text-centered">
    <figure class="image is-128x128">
      <a href="/pl5">
    <img src="/images/gasket ring.jpg">
    <h6 class="subtitle is-6">Gasket Ring</h6>
      </a>
  </figure>  
  </p>
  </nav>
  
  <div class="columns is-vcentered">
  <div class="column is-3">
   
 
<p class="subtitle is-4 has-text-weight-bold">Products </p>
  <ol>

  <li>
  
 <h5 class="subtitle is-5"><a href="/pl1">Carburetor Gasket</a></h5>
  </figure>
</li>
<li>
  
</p>
    
   <h5 class="subtitle is-5"><a href="/pl2">B. S. Spring</a></h5>
  </figure>    
</p>
</li>
<li>
    
  
   <h5 class="subtitle is-5"><a href="/pl3">A. C. Pin</a></h5>
  </figure>  
  </p>
</li>
<li>
  
 
    
    <h5 class="subtitle is-5"><a href="/pl4">A. C. Pin Kit</a></h5>
  </figure>  
  </p>
</li>
<li>
  
 
    
     <h5 class="subtitle is-5"><a href="/pl5">Gasket Ring</a></h5>
  </figure>  
  </p>
</li>
</ol>
</div>


    <div align="center">

      <iframe style="height: 400px; width: 600px;" 
              src="https://www.youtube.com/embed/L4bdbq6NkhQ" 
              frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
      </iframe>
      
    </div>

      
    
  </div>
           

</section>
<a href="#top">
  <div style="text-align: right;">  
        <button class="button is-link is-light">Top</button>
    </div>
</a>

